@font-face {
    font-family: "Armata";
    src: url("../fonts/Armata-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "BitterItalic";
    src: url("../fonts/Bitter-Italic.ttf") format("truetype");
}

body {
/*    background: #14282C; */
    background-image: url("../img/background.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    color: #60959F;
    font-family: "Open Sans",Verdana,Arial,sans-serif;
    font-size: 1.5em;
}

h1 {
    font-size: 2em;
		color: #5314B2;
}

h2 {
		color: #1CB23E;
}

h3 {
		color: #FFB04F;
}

#title {
	text-align: center;
}

#title h1 {
	font-variant: small-caps;
}

.center {
  text-align: center;
}

p, li {
    font-family: "Armata";
    margin-top: 0.2em;
    margin-bottom: 1em;
}

blockquote {
    font-family: "BitterItalic";
}

a, em {
    color: #91C5CF;
    text-decoration: none;
    font-weight: bold;
}

#title img.inline-logo {
  display: inline-block;
  vertical-align: middle;
  max-width: 100px;
  width: 100%;
  height: auto;
  padding-left: 80px;
  padding-right: 80px;
}

.inlined {
  display: inline-block;
  vertical-align: middle;
  max-width: 40%;
  height: auto;
  padding-left: 10px;
  padding-right: 10px;
}

.twocols {
  display: inline-block;
  vertical-align: middle;
  max-width: 40%;
  height: auto;
  padding-left: 20px;
  padding-right: 20px;
}

.right {
  float: right;
}

table {
  width: 100%;
}

table p {
    margin: 0;
}
